html{
    background-color: darkslategrey;
    scroll-behavior: smooth;
}

body{
    padding: 25px;
    background-color: white;
    font-family: Helvetica, sans-serif;
    color: darkslategray;
    max-width: 1000px;
    margin: 0 auto;
}

h1{
    text-align: center;
}
h2{
    text-align: center;
    font-size: 3.6rem;
}

h3{
    text-align: center;
}

nav{
    text-align: center;
    border-top: 2px solid black;
    font-size: x-large;
    overflow: hidden;
}

.dropdown-content {
  display: none;
  position: relative;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

#dropdown:hover .dropdown-content {
  display: block;
}

.menu_options{
    display: flex;
    list-style-type: none;
}
.menu_options li{
    flex: auto;

}
img{
    width: 100%;
}

p{
    max-width: 800px;
    margin: auto;
    font-size: medium;
}

.contact{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center
    
}

.contact li{
    width: 100px;
    padding: 5px;
    border-radius: 50%;
    display: inline-block;
}


#project{
    max-width: 800px;
    margin: auto;
}

#photo {
    max-width: 300px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;

}

.prototype-pics{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center
    
}

.prototype-pics li{
    width: 200px;
    padding: 20px 10px;
    border-radius: 50%;
    display: inline-block;
}

#sketch{
    display: block;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: white;
}

.resume_link{
  font-size: x-large;
}
